.sidenav__btn::after {
  content: "";
  display: block;
  clear: both;
}

.header__container > a, .sidenav__btn a, .sidenav__list a {
  display: block;
  text-decoration: none;
}

.header__container > a:hover, .sidenav__btn a:hover, .sidenav__list a:hover {
  text-decoration: none;
}

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.modal-open {
  overflow: initial !important;
}

a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 50;
}

@media screen and (max-width: 1060px) {
  .header {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 60;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__img {
  width: auto;
  height: 40px;
}

.header__img--mb {
  width: 150px;
  height: 20px;
  height: auto;
  margin: 6px 0 4px;
}

.header__text {
  display: block;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: #a9a9a9;
  border-right: 1px solid #a9a9a9;
}

.header__text:hover {
  color: #c3c3c3;
}

.header__text--danger {
  color: #dd0000;
}

.header__text--danger:hover {
  color: #dd0000;
}

.header__download {
  position: relative;
  cursor: pointer;
}

.header__download:hover .header__dropdown {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  left: -70px;
  bottom: -150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 150px;
}

.header__icon-list {
  margin: 0;
  padding: 0;
}

.header__icon-list li {
  display: inline-block;
  margin-bottom: 5px;
}

.header__icon-list img {
  width: 25px;
}

@media screen and (max-width: 1060px) {
  .header--pc {
    display: none !important;
  }
}

.header--mb {
  display: none;
}

@media screen and (max-width: 1060px) {
  .header--mb {
    display: block;
  }
}

.sidenav--right {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 50;
}

.sidenav__btn {
  margin-bottom: 6px;
}

.sidenav__btn a {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #444;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav--right .sidenav__btn a {
  float: right;
}

.sidenav__btn a:hover {
  background-color: #009ce1;
}

.sidenav__btn a::before, .sidenav__btn a::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left: 10px;
  background-color: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__btn a::before {
  top: 13px;
}

.sidenav--right .sidenav__btn a::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sidenav--right.sidenav--hide .sidenav__btn a::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sidenav__btn a::after {
  bottom: 13px;
}

.sidenav--right .sidenav__btn a::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.sidenav--right.sidenav--hide .sidenav__btn a::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sidenav__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__list li {
  color: #fff;
  background-color: #444;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav__list li li:not(:last-child) {
  border-bottom: 1px solid #666;
}

.sidenav__list li.sidenav__img a {
  padding: 0;
  width: 120px;
}

.sidenav__list a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
}

.sidenav--right .sidenav__list a {
  border-right: 4px solid transparent;
}

.sidenav--right .sidenav__list a:hover {
  border-color: #009ce1;
  background-color: #5e5e5e;
}

.sidenav--hide .sidenav__list {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  pointer-events: none;
  height: 0;
}

.sidenav--hide .sidenav__list .sidenav_btn {
  pointer-events: auto;
}

.sidenav__slider {
  width: 120px;
}

.sidenav__slider a {
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .sidenav__slider {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .sidenav--right {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #888;
    background-color: #fff;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .sidenav--right .sidenav__btn {
    display: none;
  }
  .sidenav--right .sidenav__list {
    font-size: 0;
    white-space: nowrap;
    color: #777;
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sidenav--right .sidenav__list li {
    display: inline-block;
    font-size: 16px;
    padding: 4px 0 6px;
    line-height: 1;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: none !important;
  }
  .sidenav--right .sidenav__list li:not(:first-child) a {
    border-left: 1px solid #888;
  }
  .sidenav--right .sidenav__list li.sidenav__img {
    display: none;
  }
  .sidenav--right .sidenav__list a {
    padding: 0 15px;
    color: #888;
    border: none;
  }
  .sidenav--right .sidenav__list a:hover, .sidenav--right .sidenav__list a:active {
    background-color: transparent;
  }
  .sidenav--right.fixed {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 50;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.right__box {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gotop {
  background-color: rgba(119, 119, 119, 0.8);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: translateY(-30px) translateZ(0);
          transform: translateY(-30px) translateZ(0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 767.98px) {
  .gotop {
    width: 40px;
    height: 40px;
  }
}

.gotop:hover {
  background-color: #009ce1;
}

.gotop:before, .gotop:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  width: 40%;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .gotop:before, .gotop:after {
    height: 3px;
  }
}

.gotop:before {
  left: 19%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.gotop:after {
  right: 19%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.gotop.show {
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.footer {
  text-align: center;
  background-color: #333333;
}

.bank-slogan {
  padding: 15px 10px;
  color: #fff;
  background-color: #333333;
}

.bank-slogan__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 5px 20px;
  border: 1px solid #fff;
}

.bank-slogan__text {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.pchome-slogan {
  padding: 15px 10px 15px;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  background-color: #000;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 15px;
}

.footer__icon-list li {
  display: inline-block;
  padding: 0 3px;
  margin-bottom: 5px;
}

.footer__icon-list img {
  width: 40px;
}

.pchome-slogan__text {
  font-size: 14px;
}

@media screen and (max-width: 575.98px) {
  .pchome-slogan__text {
    font-size: 12px;
  }
  .pchome-slogan__text span {
    display: block;
  }
  .pchome-slogan__text br {
    display: none;
  }
}

.main {
  padding-top: 1rem;
  position: relative;
}

.main_width {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .main_width {
    width: 1000px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .main_width {
    width: 100%;
    padding: 0;
  }
}

.bg_item_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19%;
  z-index: -1;
}

.bg_item_2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 19%;
  z-index: -1;
}

.bg_item_3 {
  width: 16%;
  position: absolute;
  top: 30%;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .bg_item_3 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bg_item_3 {
    display: none;
  }
}

.bg_item_4 {
  width: 20%;
  position: absolute;
  top: 55%;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .bg_item_4 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bg_item_4 {
    display: none;
  }
}

.bg_item_5 {
  width: 22%;
  position: absolute;
  top: 60%;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .bg_item_5 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bg_item_5 {
    display: none;
  }
}

.bg_scroll_1 {
  width: 8%;
  position: absolute;
  top: 30%;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .bg_scroll_1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bg_scroll_1 {
    display: none;
  }
}

.bg_scroll_2 {
  width: 8%;
  position: absolute;
  top: 50%;
  right: 50px;
}

@media screen and (max-width: 1024px) {
  .bg_scroll_2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bg_scroll_2 {
    display: none;
  }
}

.one_h1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media screen and (max-width: 1024px) {
  .one_h1 {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .one_h1 {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    background-color: #fff;
  }
}

.one_h1 h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .one_h1 h1 {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .one_h1 h1 {
    font-size: 1.3rem;
    padding-left: 50px;
    margin: 0;
  }
}

.one_h1 img {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .one_h1 img {
    display: block;
  }
}

.nav_height {
  padding-top: 57px;
}

.nav_top {
  width: 100%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 60;
  -webkit-box-shadow: 0 1px 4px #ccc;
          box-shadow: 0 1px 4px #ccc;
  opacity: 0.95;
}

.nav_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .nav_foot {
    width: 1000px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav_foot {
    display: none;
  }
}

.nav_foot a {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #2cc185;
  font-size: 20px;
  border: 1px solid #cccccc;
  background-color: #fff;
}

.nav_foot a:hover {
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 4px solid #2cc185;
}

.banner {
  height: 100%;
  margin-top: 15px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 800px 325px;
      grid-template-columns: 800px 325px;
  grid-gap: 15px;
}

@media screen and (max-width: 1024px) {
  .banner {
    width: 1000px;
    -ms-grid-columns: 700px 285px;
        grid-template-columns: 700px 285px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
    display: block;
    margin-top: 60px;
  }
}

.banner_left {
  padding: 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .banner_left {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 15px;
  }
}

.banner_left span {
  background-color: rgba(94, 94, 94, 0.5);
  border-radius: 30px;
  padding: 2px 8px;
  color: #fff;
  position: absolute;
  top: 8px;
  left: 12px;
  z-index: 2;
}

.banner_left .swiper-container {
  width: 100%;
  height: 100%;
}

.banner_left .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner_left .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner_left .swiper-pagination {
  top: auto;
  bottom: 0;
}

.banner_left .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #2cc187;
}

.banner_right {
  background-image: url(../img/main-right2.jpg);
  background-position: center top;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .banner_right {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 650px) {
  .banner_right {
    height: 250px;
  }
}

@media screen and (max-width: 450px) {
  .banner_right {
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .banner_right {
    height: 150px;
  }
}

.banner_right .banner_right_text {
  width: 100%;
  color: white;
  background-color: #c53b3b;
  text-align: center;
  padding: 0.2rem 0 0.6rem;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .banner_right .banner_right_text {
    width: 738px;
  }
}

@media screen and (max-width: 750px) {
  .banner_right .banner_right_text {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .banner_right .banner_right_text {
    width: 384px;
  }
}

@media screen and (max-width: 375px) {
  .banner_right .banner_right_text {
    width: 345px;
  }
}

.banner_right .banner_right_text p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 768px) {
  .banner_right .banner_right_text p {
    display: inline-block;
    font-size: 1rem;
    margin-top: 5px;
  }
}

.banner_right .banner_right_text a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 3px 1.4rem;
}

@media screen and (max-width: 768px) {
  .banner_right .banner_right_text a {
    font-size: 1.1rem;
    border: 1px solid white;
  }
}

.banner_right > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.eat_title {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  color: #6d6c6c;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .eat_title {
    width: 100%;
  }
}

.eat_top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .eat_top {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .eat_top {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 15px;
  }
}

.eat_box {
  width: 360px;
  -webkit-box-shadow: rgba(155, 155, 155, 0.4) 3px 3px 14px;
          box-shadow: rgba(155, 155, 155, 0.4) 3px 3px 14px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .eat_box {
    width: 330px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .eat_box {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .eat_box {
    width: 100%;
    margin: 20px 0;
  }
}

.eat_text {
  border-left: 1px solid #eaeaea;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.eat_text h4 {
  color: #2ec186;
  font-weight: 600;
}

.eat_text p {
  color: #9b9b9b;
}

.fresh {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  background-color: #2cc185;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .fresh {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .fresh {
    width: 100%;
    margin: 0 auto;
  }
}

.fresh h3 {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .fresh h3 {
    font-size: 20px;
  }
}

.fresh p {
  display: inline-block;
  font-weight: 600;
  background-color: white;
  font-size: 1.8rem;
  color: #2cc185;
  border-radius: 40px;
  padding: 0 5rem;
}

@media screen and (max-width: 1024px) {
  .fresh p {
    padding: 5px 60px;
  }
}

@media screen and (max-width: 768px) {
  .fresh p {
    font-size: 16px;
    padding: 1px 40px;
  }
}

.fresh p .small {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .fresh p .small {
    font-size: 16px;
  }
}

.fresh p .bold {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .fresh p .bold {
    font-size: 16px;
  }
}

.fresh .fresh_text {
  color: white;
  position: absolute;
  right: 5px;
  bottom: 15px;
}

@media screen and (max-width: 768px) {
  .fresh .fresh_text {
    position: static;
    display: block;
  }
}

.shop {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .shop {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .shop {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.swiper-btn-next {
  width: 32px;
  height: 32px;
  z-index: 500;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  right: -5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
          box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
}

@media screen and (max-width: 768px) {
  .swiper-btn-next {
    right: -10px;
    z-index: 10;
  }
}

.swiper-btn-prev {
  width: 32px;
  height: 32px;
  z-index: 500;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  left: -15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
          box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
}

@media screen and (max-width: 768px) {
  .swiper-btn-prev {
    z-index: 10;
  }
}

.shop_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .shop_title {
    width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .shop_title {
    width: 100%;
    margin: 0 auto;
  }
}

.shop_title p {
  padding: 0 10px;
  font-size: 30px;
  font-weight: 600;
  color: #6d6c6c;
}

.shop_title span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #afafaf;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .product {
    width: 1000px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 100%;
    margin: 0 auto;
  }
}

.product1 {
  display: block;
  width: 181.667px;
  text-decoration: none;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .product1 {
    width: 150px;
  }
}

.product1:hover {
  text-decoration: none;
}

.product1 .product_img {
  padding: 4px;
  border: 1px solid #e1e1e1;
  margin-bottom: 6px;
  background-color: #fff;
}

.product1 p {
  width: 100%;
}

.product1 .product_name {
  padding: 0 4px;
  height: 2.6rem;
  line-height: 1.3;
  color: #6d6c6c;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .product1 .product_name {
    font-size: 0.9rem;
  }
}

.product1 .product_price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #d9493f;
  padding: 0 4px;
}

@media screen and (max-width: 768px) {
  .product1 .product_price {
    font-size: 1.4rem;
  }
}

.product1 .product_price span {
  font-size: 1.2rem;
  font-weight: 600;
}

.brands-box {
  margin: 4rem 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .brands-box {
    width: 100%;
    padding: 0 15px;
  }
}

.brands_title {
  margin-bottom: 1rem;
  font-size: 3rem;
  padding: 1.4rem 0;
  color: #6d6c6c;
  font-weight: 600;
  text-align: center;
  background-image: url(/20210803/fresh_main/img/brands.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .brands_title {
    font-size: 2rem;
    padding: 0.5rem 0;
  }
}

.brands_swiper {
  width: 181.66px;
}

.brands_swiper .brands_icon:hover {
  text-decoration: none;
}

.brands_swiper .brands_icon .brands_img {
  text-align: center;
  margin-bottom: 0.4rem;
}

.brands_swiper .brands_icon .brands_img img {
  border: 6px solid #eaeef1;
  border-radius: 50%;
}

.brands_swiper p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: #868686;
}

.brands_swiper:hover .brands_img img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 1s;
  transition: 1s;
}

.brands_swiper:hover p {
  color: #2cc185;
  -webkit-transition: 1s;
  transition: 1s;
}

.brands-btn-next {
  width: 32px;
  height: 32px;
  z-index: 5;
  position: absolute;
  top: 75%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  right: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
          box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
}

@media screen and (max-width: 768px) {
  .brands-btn-next {
    right: 0;
    top: 70%;
  }
}

.brands-btn-prev {
  width: 32px;
  height: 32px;
  z-index: 5;
  position: absolute;
  top: 75%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  left: -15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
          box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
}

@media screen and (max-width: 768px) {
  .brands-btn-prev {
    left: 0;
    top: 70%;
  }
}

.activities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 755px;
      grid-template-columns: 370px 755px;
  grid-gap: 15px;
  height: 323.75px;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  .activities {
    -ms-grid-columns: 300px 620px;
        grid-template-columns: 300px 620px;
    grid-gap: 85px;
  }
}

@media screen and (max-width: 768px) {
  .activities {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding: 0 15px;
  }
}

.activities .activities_left {
  width: 369px;
  height: 323.75px;
}

@media screen and (max-width: 768px) {
  .activities .activities_left {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
  }
}

.activities .activities_left .activities_left_1 {
  position: relative;
  margin-bottom: 15px;
}

.activities .activities_left .activities_left_1 p {
  position: absolute;
  left: 6px;
  bottom: 4px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.activities .activities_left .activities_left_2 {
  position: relative;
}

.activities .activities_left .activities_left_2 p {
  position: absolute;
  left: 6px;
  bottom: 4px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.activities .activities_right {
  position: relative;
  height: 323.75px;
}

@media screen and (max-width: 768px) {
  .activities .activities_right {
    height: 143px;
  }
}

.activities .activities_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.activities .activities_right p {
  position: absolute;
  left: 6px;
  bottom: 4px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav_open {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav_open {
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 9999;
    position: fixed;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav_open .nav_onen_menu {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav_open .nav_off_menu {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50px;
    right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav_open ul {
    display: block;
    border: none;
    margin-top: 20%;
    padding: 0 3rem;
  }
  .nav_open ul li {
    border: none;
    border-bottom: 1px solid #2cc185;
    list-style: none;
    height: 63px;
  }
  .nav_open ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #2cc185;
    padding: 1rem 0;
  }
}

.menu_Activity {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 767.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mb {
    display: block;
  }
}
/*# sourceMappingURL=all.css.map */