$main_width: 1170px;
.main {
    padding-top: 1rem;
    position: relative;
}
//總共寬度
.main_width {
    width: $main_width;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 1000px;
        padding: 0;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
    }
}

//背景圖片定位區
.bg_item_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    z-index: -1;
}
.bg_item_2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 19%;
    z-index: -1;
}

.bg_item_3 {
    width: 16%;
    position: absolute;
    top: 30%;
    left: 0;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.bg_item_4 {
    width: 20%;
    position: absolute;
    top: 55%;
    right: 0;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.bg_item_5 {
    width: 22%;
    position: absolute;
    top: 60%;
    left: 0;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.bg_scroll_1 {
    width: 8%;
    position: absolute;
    top: 30%;
    left: 0;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.bg_scroll_2 {
    width: 8%;
    position: absolute;
    top: 50%;
    right: 50px;
    @media screen and (max-width: 1024px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

//pchome生鮮
.one_h1 {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;
    @media screen and (max-width: 1024px) {
        width: 1000px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: 999;
        background-color: #fff;
    }
    h1 {
        font-weight: 700;
        font-size: 30px;
        margin: 20px 0;
        text-align: center;
        @media screen and (max-width: 1024px) {
            width: 1000px;
        }
        @media screen and (max-width: 768px) {
            font-size: 1.3rem;
            padding-left: 50px;
            margin: 0;
        }
    }
    img {
        display: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}

//生鮮浮動之後位置的高度
.nav_height {
    padding-top: 57px;
}
//上面生鮮連結
.nav_top {
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 60;
    box-shadow: 0 1px 4px #ccc;
    opacity: 0.95;
}
.nav_foot {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    height: 50px;
    @media screen and (max-width: 1024px) {
        width: 1000px;
        padding: 0;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.nav_foot a {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(44, 193, 133);
    font-size: 20px;
    border: 1px solid rgb(204, 204, 204);
    background-color: #fff;
    &:hover {
        color: black;
        transition: 0.5s;
        border-bottom: 4px solid rgb(44, 193, 133);
    }
}

//banner區
.banner {
    height: 100%;
    margin-top: 15px;

    padding: 0 15px;
    display: grid;
    grid-template-columns: 800px 325px;
    grid-gap: 15px;
    @media screen and (max-width: 1024px) {
        width: 1000px;
        grid-template-columns: 700px 285px;
        padding: 0;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        display: block;
        margin-top: 60px;
    }
}

.banner_left {
    padding: 0;
    position: relative;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 0 15px;
    }

    span {
        background-color: rgba(94, 94, 94, 0.5);
        border-radius: 30px;
        padding: 2px 8px;
        color: #fff;
        position: absolute;
        top: 8px;
        left: 12px;
        z-index: 2;
        @media screen and (max-width: 768px) {
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        // display: block;
        width: 100%;
        // height: 100%;
        object-fit: cover;
    }
    .swiper-pagination {
        top: auto;
        bottom: 0;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background-color: #2cc187;
    }
}
.banner_right {
    background-image: url(../img/main-right2.jpg);
    background-position: center top;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 0;
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        padding: 0 15px;
        //    width: 345px;
        //    height: 151px;
    }
    @media screen and (max-width: 650px) {
       height: 250px;
    }
    @media screen and (max-width: 450px) {
        height: 200px;
     }
     @media screen and (max-width: 400px) {
        height: 150px;
     }
    .banner_right_text {
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: rgb(197, 59, 59);
        text-align: center;
        padding: 0.2rem 0 0.6rem;
        position: absolute;
        bottom: 0;
        @media screen and (max-width: 768px) {
            width: 738px;
            // padding: 0 15px;
        }
        @media screen and (max-width: 750px) {
            width: 100%;
            // padding: 0 15px;
        }
        @media screen and (max-width: 414px) {
            width: 384px;
            // padding: 0 15px;
        }
        @media screen and (max-width: 375px) {
            width: 345px;
            // padding: 0 15px;
        }
        p {
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 0.2rem;
            @media screen and (max-width: 768px) {
                display: inline-block;
                font-size: 1rem;
                margin-top: 5px;
            }
        }
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 1.5rem;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 2rem;
            padding: 3px 1.4rem;
            @media screen and (max-width: 768px) {
                font-size: 1.1rem;
                border: 1px solid rgb(255, 255, 255);
            }
        }
    }
}
.banner_right > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
//好好吃飯
.eat_title {
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    color: rgb(109, 108, 108);
    text-align: center;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.eat_top {
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        width: 1000px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0 15px;
    }
}
.eat_box {
    width: 360px;
    box-shadow: rgba(155, 155, 155, 0.4) 3px 3px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1200px) {
        width: 330px;
        margin: 0 10px;
    }
    @media screen and (max-width: 1024px) {
        width: 300px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 20px 0;
    }
}
.eat_text {
    border-left: 1px solid rgb(234, 234, 234);
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    h4 {
        color: rgb(46, 193, 134);
        font-weight: 600;
    }
    p {
        color: rgb(155, 155, 155);
    }
}

// fresh
.fresh {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    background-color: rgb(44, 193, 133);
    text-align: center;
    padding: 15px 0;
    position: relative;
    @media screen and (max-width: 1024px) {
        width: 1000px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
    }

    h3 {
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 2.2rem;
        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }
    p {
        display: inline-block;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        font-size: 1.8rem;
        color: rgb(44, 193, 133);
        border-radius: 40px;
        padding: 0 5rem;
        @media screen and (max-width: 1024px) {
            padding: 5px 60px;
        }
        @media screen and (max-width: 768px) {
            font-size: 16px;
            padding: 1px 40px;
        }
        .small {
            font-size: 25px;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }
        .bold {
            font-size: 36px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    .fresh_text {
        color: rgb(255, 255, 255);
        position: absolute;
        right: 5px;
        bottom: 15px;
        @media screen and (max-width: 768px) {
            position: static;
            display: block;
        }
    }
}

// 商品區
.shop {
    position: relative;
    // z-index: -50;

    @media screen and (max-width: 1024px) {
        width: 1000px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}
//按鈕
.swiper-btn-next {
    // background-image: url(/fresh_main/img/right.png) !important;
    width: 32px;
    height: 32px;
    z-index: 500;
    position: absolute;
    top: 60%;
    transform: translateY(-50px);
    right: -5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    //opacity: 0.8;
    box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
    @media screen and (max-width: 768px) {
        right: -10px;
        z-index: 10;
    }
}
.swiper-btn-prev {
    // background-image: url(/fresh_main/img/right.png) !important;
    width: 32px;
    height: 32px;
    z-index: 500;
    position: absolute;
    top: 60%;
    transform: translateY(-50px);
    left: -15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    //opacity: 0.8;
    box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
    @media screen and (max-width: 768px) {
        z-index: 10;
    }
}
.shop_title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @media screen and (max-width: 1024px) {
        width: 1000px;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
    }
    p {
        padding: 0 10px;
        font-size: 30px;
        font-weight: 600;
        color: rgb(109, 108, 108);
    }
    span {
        flex-grow: 1;
        height: 1px;
        background-color: rgb(175, 175, 175);
    }
}
// 商品種類
.product {
    display: flex;

    @media screen and (max-width: 1024px) {
        width: 1000px;
        margin: 0;
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
    }
}
.product1 {
    display: block;
    width: 181.667px;
    text-decoration: none;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
        width: 150px;
    }
    &:hover {
        text-decoration: none;
    }
    .product_img {
        padding: 4px;
        border: 1px solid rgb(225, 225, 225);
        margin-bottom: 6px;
        background-color: #fff;
    }
    p {
        width: 100%;
    }
    .product_name {
        padding: 0 4px;
        height: 2.6rem;
        line-height: 1.3;
        color: rgb(109, 108, 108);
        overflow: hidden;
        @media screen and (max-width: 768px) {
            font-size: 0.9rem;
        }
    }
    .product_price {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgb(217, 73, 63);
        padding: 0 4px;
        @media screen and (max-width: 768px) {
            font-size: 1.4rem;
        }
        span {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

//品牌推薦
.brands-box {
    margin: 4rem 0;
    position: relative;
    @media screen and (max-width: 768px){
        width: 100%;
        padding: 0 15px;
    }
}
.brands_title {
    margin-bottom: 1rem;
    font-size: 3rem;
    padding: 1.4rem 0;
    color: #6d6c6c;
    font-weight: 600;
    text-align: center;
    background-image: url(/20210803/fresh_main/img/brands.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
        padding: 0.5rem 0;
    }
}
.brands_swiper {
    width: 181.66px;
    .brands_icon {
        &:hover {
            text-decoration: none;
        }
        .brands_img {
            text-align: center;
            margin-bottom: 0.4rem;
            img {
                border: 6px solid #eaeef1;
                border-radius: 50%;
                
            }
        }
    }
    p {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        color: #868686;
        
    }
}
.brands_swiper:hover {
    .brands_img {
        img {
            transform: scale(0.8);
            transition: 1s;
        }
    }
    p {
        color: rgb(44, 193, 133);
        transition: 1s;
    }
}
.brands-btn-next {
    // background-image: url(/fresh_main/img/right.png) !important;
    width: 32px;
    height: 32px;
    z-index: 5;
    position: absolute;
    top: 75%;
    transform: translateY(-50px);
    right: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
    @media screen and (max-width: 768px) {
        right: 0;
        top: 70%;
    }
}
.brands-btn-prev {
    // background-image: url(/fresh_main/img/right.png) !important;
    width: 32px;
    height: 32px;
    z-index: 5;
    position: absolute;
    top: 75%;
    transform: translateY(-50px);
    left: -15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(109, 108, 108, 0.8);
    @media screen and (max-width: 768px) {
        left: 0;
        top: 70%;
    }
}

//三個圖片
.activities {
    display: grid;
    grid-template-columns: 370px 755px;
    grid-gap: 15px;
    height: 323.75px;
    margin-bottom: 5rem;
    @media screen and (max-width: 1024px) {
        grid-template-columns: 300px 620px;
        grid-gap: 85px;
    }
    @media screen and (max-width: 768px) {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 1.8rem;
        padding: 0 15px;
    }
    .activities_left {
        width: 369px;
        height: 323.75px;
        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
            margin-bottom: 1rem;
        }
        .activities_left_1 {
            position: relative;
            margin-bottom: 15px;
            p {
                position: absolute;
                left: 6px;
                bottom: 4px;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
        .activities_left_2 {
            position: relative;
            p {
                position: absolute;
                left: 6px;
                bottom: 4px;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    }
    .activities_right {
        position: relative;
        height: 323.75px;
        @media screen and (max-width: 768px) {
            height: 143px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        p {
            position: absolute;
            left: 6px;
            bottom: 4px;
            color: #fff;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

//選單
.nav_open {
    // transform: translateX(5000px);
    display: none;
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.85);
        transition: 0.3s;
        z-index: 9999;
        position: fixed;
        top: 0;
    }
    .nav_onen_menu {
        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0 15px;
        }
    }
    .nav_off_menu {
        @media screen and (max-width: 768px) {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50px;
            right: 15px;
        }
    }
    ul {
        @media screen and (max-width: 768px) {
            display: block;
            border: none;
            margin-top: 20%;
            padding: 0 3rem;
            li {
                border: none;
                border-bottom: 1px solid #2cc185;
                list-style: none;

                height: 63px;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #2cc185;
                    padding: 1rem 0;
                }
            }
        }
    }
}

//選單進場時間
.menu_Activity {
    display: block;
    transform: translateX(0);
    transition: 0.5s;
}
